<template> 
    <article class="cart-news" @click="testEmit" :style="`background:${this.news.color}`">
        <p>{{index}}</p>
            <div class="news-img">
                <img :src="item.img" alt="" style="width:5rem;">
            </div>
            <div class="description">
                <div class="date">
                    {{ item.data }}
                </div>
                <p class="text">{{ item.text }}</p>
                <div class="link">
                    <a href="#">Читать далее <svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M13.6006 4.77616C13.7959 4.5809 13.7959 4.26432 13.6006 4.06905L10.4187 0.887074C10.2234 0.691811 9.90681 0.691811 9.71155 0.887074C9.51629 1.08234 9.51629 1.39892 9.71155 1.59418L12.54 4.42261L9.71155 7.25103C9.51629 7.4463 9.51629 7.76288 9.71155 7.95814C9.90681 8.1534 10.2234 8.1534 10.4187 7.95814L13.6006 4.77616ZM0 4.92261H13.2471V3.92261H0V4.92261Z" fill="#5988FF"/>
    </svg>
    </a>
                </div>
            </div>
    </article>
</template>

<script>
export default {
    props:{
        news:{}, 
        index:{},
    },
    data(){
        return{
            item:{}
        }
    },
    created(){
        this.news.text = 'asdsadasdas'
        this.item = this.news
    },
    methods:{
        testClick(){
            console.log('123455')
        },
        testEmit(){
            this.$emit('clickTestEmit', this.index)
        }
    }
}
</script>

<style>
    article {
        display: flex;
    }

    .description {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        margin-left: 2rem;
    }

    a {
        text-decoration: none;
        color: #5988FF;
    }

    .date {
        font-size: 14px;        
        color: #A9A9A9;

    }

</style>