<template>
    <div @click="getTest">
        {{title.value}}
    </div>
</template>

<script>
export default {
    props:{
        title:{}
    },
    methods:{
        getTest(){
            this.$emit('getA', this.title)
        }
    },
    watch:{},
    computed:{},
    mounted(){},
    created(){},
    name:{},
    components:{}
}
</script>

<style scoped>

</style>