<template>
  <div id="app">
    <!-- <LatestNews
      v-for="(item, key) in news"
      :key="key"
      :news="item"
      :index="key"
      :ref="`news`"
      @clickTestEmit="testClick"
    />
    <test-prop v-for="(item, key) in image" :key="key" :img="item"/>
    <p >sdfghjkl</p> -->
    <test v-for="(item, index) in test" :key="index" :title="item" @getA="get"></test>
    <p>{{ eq }}</p>
  </div>
</template>

<script>
import LatestNews from "@/components/LatestNews";
import news from "@/static/news";
import testProp from "@/components/testProp.vue";
import test from "@/components/test.vue"
import Test from '@/components/test.vue';
export default {
  name: "App",
  components: {
    LatestNews,
    testProp,
    Test,
  },
  data() {
    return {
      test: [{ value: '1', type: 'digit' }, { value: '2', type: 'digit' }, { value: '/', type: 'oper' }, { value: '=', type: 'oper' }],
      eq: '',
      operator: false,
      news: [
        {
          img: require("@/assets/image/1_FdjiesZktvJSMLNuwb6jwA.png"),
          date: "12 авг 2020",
          text: "Предоставление муниципальных услуг в центрах “Мои документы” обретает единый формат",
          color: '#000000'
        },
        {
          img: "../assets/image 26.png",
          date: "12 авг 2020",
          text: "СОСТОЯЛОСЬ ЗАСЕДАНИЕ HR-КЛУБА ПО ВОПРОСАМ ПОВЫШЕНИЯ ЭФФЕКТИВНОСТИ КАЧЕСТВА РАБОТЫ HR-СЛУЖБ В ПОДВЕДОМСТВЕННЫХ УЧРЕЖДЕНИЯХ ОБЛАСТИ",
        },
        {
          img: "../assets/image 26.png",
          date: "12 авг 2020",
          text: "ЛИПЕЦКАЯ ОБЛАСТЬ УЧАСТВУЕТ В ЯРМАРКЕ ВАКАНСИЙ В ОНЛАЙН-ФОРМАТЕ",
          color: '#6a0000'
        },
        {
          img: "../assets/image 26.png",
          date: "12 авг 2020",
          text: "В РАМКАХ HR-ФОРУМА СТАРТУЕТ НОВЫЙ ПРОЕКТ",
        },
        {
          img: "../assets/image 26.png",
          date: "12 авг 2020",
          text: "В рамках HR- форума стартует новый проект ",
        },
      ],
      image: [
        require("@/assets/image/1_FdjiesZktvJSMLNuwb6jwA.png"),
        require("@/assets/image/1_FdjiesZktvJSMLNuwb6jwA.png"),
        require("@/assets/image/1_FdjiesZktvJSMLNuwb6jwA.png"),
      ],
    };
  },
  methods: {
    testClick(inex) {
      console.log(inex)
    },
    get(value) {
      if (value.type === 'oper' && value.value !== '=')
        this.operator = true
      if (value.type === 'oper' && value.value === '=' && this.operator) {
        console.log(this.eq.split(''))
        let pars = this.eq.split('')
        this.eq = pars[0] / pars[1]
      }
      this.eq += value.value
    }
  },
  mounted() {
    this.news = news.test();
    console.log(this.$refs['news'], 'mounted')
    this.$refs['news'][0].testClick()
  },
  created() {
    console.log(this.$refs, 'created')
    console.log(this.$refs['news'], 'created')
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
